{% extends 'AppLOL/base.html' %}
{% block contenido %}
<!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Update 12.22 </h2>
                                <!-- Cuadros de texto -->
                                <div class="row" >
                                    {% for post in posts %}
                                        <div class="col-lg-4 mb-4">
                                            <div class="card bg-light text-black">
                                                <div class="card-body">
                                                    <h3 class="mb-0">{{ post.title }}</h3>
                                                    <div class="subheading mb-3">{{ post.subtitle }}</div>
                                                    {{ post.image }}
                                                    <p>{{ post.body }}</p>
                                                    <p><small>{{ post.category }}</small></p>
                                                    <div class="flex-shrink-0"><span class="text-primary">{{ post.creator }}</span></div>
                                                    <div class="flex-shrink-0"><span class="text-primary">{{ post.created_at|date:'d-m-Y H:i' }}</span></div>
                                                    <!-- comentarios para comunidad -->
                                                    <hr>
                                                    <h2 class="subtittle is-4">Comentarios</h2>
                                                    <form method="post" class="mb-6">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}

                                                        <div class="field">
                                                            <div class="control">
                                                                <button class="button is-success">Comentar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    {% for comment in post.comments.all %}
                                                    <article class="media box">
                                                        <div class="media-content">
                                                            <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small>
                                                            {{ comment.body }}
                                                        </div>
                                                    </article>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    {% endfor %}
                                    <div class="col-lg-4 mb-4">
                                        <div class="card bg-light text-black">
                                            <div class="card-body">
                                                Light
                                                <div class="text-black-50 small">#f8f9fc</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <div class="card bg-light text-black">
                                            <div class="card-body">
                                                Light
                                                <div class="text-black-50 small">#f8f9fc</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mb-4">
                                        <div class="card bg-light text-black">
                                            <div class="card-body">
                                                Light
                                                <div class="text-black-50 small">#f8f9fc</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Cambios en la JUNGLA</h3>
                            <div class="subheading mb-3">Mascotas</div>
                            <p>Se agregaron 3 nuevos tipos de smite que varian dependiendo de la mascota q selecciones al comienzo de la partida los cuales son "Cachorro de Rasgafuego - Cria de Trotabrisa - Retoño de Pisamusgo" lo cual genero revuelo en los jugadores ¿Pokemon eres tu?</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Smite</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Cachorro de Rasgafuego</h3>
                            <div class="subheading mb-3">Primera FASE</div>
                            <p>Corte de Rasgafuegos: Rasgafuegos juntará acumulaciones de Brasas a un ritmo de 3 acumulaciones cada 0.5 seg o 100 acumulaciones al matar a un monstruo grande. Al alcanzar 100 acumulaciones de Brasas, tu siguiente instancia de daño contra un campeón enemigo ralentizará un 30% a todos los enemigos en un radio de 250 unidades (disminuyendo a lo largo de 2 seg) e infligirá al objetivo principal un daño de quemadura igual al 5% de su Vida Máxima como daño verdadero a lo largo de 4 seg</p>
                            <div class="subheading mb-3">Segunda FASE</div>
                            <P>El smite pasara a quitar 1200 de vida a mounstros y obtendra la Mejora de protección: Recibe un 30% menos de daño de monstruos si hay al menos 2 aliados en un radio de 1300 unidades</P>
                        
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Smite ROJO</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Retoño de Pisamusgo</h3>
                            <div class="subheading mb-3">Primera FASE</div>
                            <p>Coraje de Pisamusgo: Obtienes un escudo de 75-330 de Vida (según el nivel) después de despejar un campamento de monstruos o después de 10 seg fuera de combate. Este escudo permanecerá de forma indefinida. Los jugadores obtendrán un 20% de Tenacidad y resistencia a la ralentización mientras el escudo esté activo y por 3 seg después de romperse.</p>
                            <div class="subheading mb-3">Segunda FASE</div>
                            <p>El smite pasara a quitar 1200 de vida a mounstros y obtendra la Mejora de protección: Recibe un 30% menos de daño de monstruos si hay al menos 2 aliados en un radio de 1300 unidades</p>
                        
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Smite VERDE</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Cria de Trotabrisa</h3>
                            <div class="subheading mb-3">Primera FASE</div>
                            <p>Paso de Trotabrisas: Obtienes un 45% de velocidad de movimiento adicional al entrar en una maleza que decae a lo largo de 2 seg después de salir de ella. Esto aumenta al 60% durante 2 seg después de matar a un monstruo grande</p>
                            <div class="subheading mb-3">Segunda FASE</div>
                            <p>El smite pasara a quitar 1200 de vida a mounstros y obtendra la Mejora de protección: Recibe un 30% menos de daño de monstruos si hay al menos 2 aliados en un radio de 1300 unidades</p>
                        
                        
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Smite Azul</span></div>
                    </div>
                    
                </div>
            </section>
{% endblock %}