{% extends 'AppLOL/base.html' %}
{% block title %}Actualizaciones | {% endblock %}
{% block contenido %}
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Actualizaciones</h2>
            <!-- Cuadros de texto -->
            <div class="row container" >
                {% for post in posts %}
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-light text-black">
                            <div class="card-body">
                                <h3 class="mb-0">{{ post.title }}</h3>
                                <div class="subheading mb-3">{{ post.subtitle }}</div>
                                {% if post.image %}
                                    <figure class="image">
                                        <img src="{{ post.image.url }}">
                                    </figure>
                                {% endif %}
                                <p>{{ post.body }}</p>
                                <p><small>{{ post.category }}</small></p>
                                <div class="flex-shrink-0"><span class="text-primary">{{ post.creator }}</span></div>
                                <div class="flex-shrink-0"><span class="text-primary">{{ post.created_at|date:'d-m-Y H:i' }}</span></div>
                                <!-- comentarios para comunidad -->
                                <hr>
                                <h2 class="subtittle is-4">Comentarios</h2>
                                <form method="post" class="mb-6">
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-success">Comentar</button>
                                        </div>
                                    </div>
                                </form>
                                {% for comment in post.comments.all %}
                                <article class="media box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small>
                                        {{ comment.body }}
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}