{% extends 'AppLOL/base.html' %}
{% block contenido %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Actualizaciones</h2>
                    <!-- Cuadros de texto -->
                    <div class="row" >
                        {% for post in posts %}
                            <div class="col-lg-4 mb-4">
                                <div class="card bg-light text-black">
                                    <div class="card-body">
                                        <h3 class="mb-0">{{ post.title }}</h3>
                                        <div class="subheading mb-3">{{ post.subtitle }}</div>
                                        {{ post.image }}
                                        <p>{{ post.body }}</p>
                                        <p><small>{{ post.category }}</small></p>
                                        <div class="flex-shrink-0"><span class="text-primary">{{ post.creator }}</span></div>
                                        <div class="flex-shrink-0"><span class="text-primary">{{ post.created_at|date:'d-m-Y H:i' }}</span></div>
                                    </div>
                                </div>
                            </div>
                    </div>
    </div>
</section>
{% endblock %}