{% extends 'AppLOL/base.html' %}
{% block contenido %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                    LEAGUE OF
                        <span class="text-primary">UPDATE</span>
                    </h1>
                    <div class="subheading mb-5">
                        Update 12.22
                    </div>
                    <p class="lead mb-5">Nos dedicamos a informar de forma mas detallada las actualizaciones mas recientes del MOBA en cuestion ya sea items y campeones hasta las modficaciones del mapa.</p>
                    <div class="social-icons">
                        <button class="enlace social-icon" role="link" onclick="window.location='https://github.com/AgustinLara/LEAGUEOFUBDATE.git'" ><i class="fab fa-github"></i></button>
                        <button class="enlace social-icon" role="link" onclick="window.location='https://twitter.com/riotgames?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'" ><i class="fab fa-twitter"></i></button>
                        <button class="enlace social-icon" role="link" onclick="window.location='https://www.facebook.com/RiotGames/'" ><i class="fab fa-facebook-f"></i></button>
                    </div>
            </section>
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            </section>
        </div>
        <section>
        <hr class="m-0" />
{% endblock %}