{% extends 'AppLOL/base.html' %}
{% block contenido %}

{% if errors %}
    <p style="color:red">Errores en el inicio de sesión: {{errors}}</p>
{% endif %}

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ mensaje }}
            <input type="submit" value="Iniciar Sesión">
            
        </form>
    </div>
</section>

{% endblock %}