{% extends 'AppLOL/base.html' %}
{% block title %}Perfil | {% endblock %}
{% block contenido %}
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Perfil</h2>
        <div>
            <button class="nav-item"><a class="nav-link " href="{% url 'editar_perfil'%}">Editar Perfil</a></button>
            <button class="nav-item"><a class="nav-link " href="{% url 'agregar_avatar'%}">Editar Avatar</a></button>
        </div>    
    </div>


</section>
{% endblock %}